
.bg-grey {
    background-color: #f6f6f6;
}


body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron { 
    font-family: Montserrat, sans-serif;
    background-color: #047a04; /* Green*/
    color: #ffffff;
    padding: 20px 25px;
    margin: 0;
    height: 150px;
}

.container-fluid {
    padding: 60px 50px;
}

.col-md-5{
      text-align: center;

}

.logo-small {
    color: #024002;
    font-size: 50px;
}

.logo {
    color: #024002;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.panel {
    border: 1px solid #024002;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #024002;
    background-color: #fff !important;
    color: #047a04
}

.panel-heading {
    color: #fff !important;
    background-color: #024002 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #024002;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    background-color: #024002;
    z-index: 9999;
    border: none;
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0;
    height: 75px;
}


.navbar .navbar-brand{
    color: #fff !important;
    line-height: 45px;
    font-size: 36px;
    padding-left: -10px;
}

.navbar li a {
    color: #fff !important;
    line-height: 50px;
    font-size: 16px;
  }

.navbar-nav li a:hover, .navbar-nav li.active a {
    /*text-shadow: 0px 0px 5px white; */
    color: #aaaaaa !important;
    background-color: transparent !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.navbar-toggle{
    margin-top: 12px;
    margin-bottom: 5px;
}

.navbar-default .navbar-collapse{
    border: none;
    box-shadow: none;
}


.highlight {
    background:#ddd;
}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #024002;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
  }

.carousel-caption{
      padding-top: -10px;
}

.carousel-caption h3 {
      color: #fff !important;
      font-size: 28px;
}


@media screen and (min-width: 1920px) {
    .panel{
      width: 70%;
      margin-left: 250px;    }

    .col-sm-4 {
        padding-left: 100px;
    }

    #aboutpic{
        height: 350px;

    }

    .col-md-8{
      padding-left: 150px;
      padding-right: 150px;
    }

    .col-md-5{
      padding-left: 150px;
    }

    .col-md-7{
      padding-right: 150px;
    }

    .col-sm-12 {
        padding-left: 150px;
        padding-right: 150px;
    }

}


@media screen and (max-width: 1024px) {

    .navbar{
      height: 60px;
    }

    #logo{
      height: 50px;
    }

    .navbar-left{
      padding-left: 5px;
    }


    .container{
      width: 100%;
    }


    .navbar li a {
    line-height: 29px;
    font-size: 14px;
  }

    .navbar .navbar-brand{
    line-height: 29px;
    font-size: 24px;

  }


}

@media screen and (max-width: 850px) {


    .navbar li a {
    font-size: 12px;
  }

    .navbar .navbar-brand{
    font-size: 18px;

  }

}

@media screen and (max-width: 767px) {

    .panel{
      max-width: 300px;
      margin-right: auto;
      margin-left: auto;
   }

    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
        margin-left:  -35px;
        margin-right: -35px;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

    .navbar{
      height: 60px;
    }


    .navbar-nav li a:hover, .navbar-nav li.active a {
    /*text-shadow: 0px 0px 5px white; */
    background-color: #024002 !important;
  }


    .navbar li a {
    line-height: 40px;
    background-color: #024002;
    font-size: 16px;
  }

    .navbar .navbar-brand{
    font-size: 22px;

  }

}

@media screen and (max-width: 480px) {

    .logo{
        font-size: 150px;
    }

    #serpic{
        width: 100%;
        max-width: 300px;
        height: auto;
    }

     #locpic{
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
